<!doctype html>
<html ng-app="app" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Dashboard page</title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <app-header></app-header>
    <div id="app-wrapper" ui-view>Loading...</div>
  </body>
</html>