<div class="dashboard-card">
    <md-card>
        <md-divider ng-if="!$last" ng-class="['dashboard-card__divider', $ctrl.dividerColor]"></md-divider>
        <!-- Card title -->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ $ctrl.campaign.name }}</span>
                <span class="md-subhead">{{ $ctrl.campaign.type }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider ng-if="!$last"></md-divider>
        <!-- Card content -->
        <md-card-content layout="row" layout-wrap layout-align="space-between">

            <card-item title="'Approved posts'" count="$ctrl.campaign.approved_posts"></card-item>
            <card-item title="'influencers'" count="$ctrl.campaign.influencers"></card-item>

        </md-card-content>
        <md-card-content layout="row" layout-wrap layout-align="space-between">

            <card-item title="'likes'" count="$ctrl.campaign.approved_likes"></card-item>
            <card-item title="'comments'" count="$ctrl.campaign.approved_comments"></card-item>

        </md-card-content>
        <md-divider ng-if="!$last" ng-class="'dashboard-card__divider dashboard-card__divider--static'"></md-divider>
        <!-- Card actions -->
        <md-card-actions layout="row" layout-align="space-around ">
            <md-button>hide</md-button>
            <md-button md-no-ink class="md-primary">show details</md-button>
        </md-card-actions>
    </md-card>
</div>